

h1{
    color : white;
    transition: color .5s ease-in-out;
}

.clicked {
    color : lightgreen;
}

.aws-font {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hidden {
    display : none;
}

#clock {
    color : white;
    align-items: center;
}
